@import '../../main.scss';

.HomePage {
  &__userSelection {
    display: inline-block;
    width: 25%;
  }

  &__posts {
    display: inline-block;
    width: 75%;
    vertical-align: top;
    padding: 0 3% 5%;
  }

  &__authorButton {
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    background-color: $primary-color;
    color: white;
    margin: 10px 0;

    &:hover {
      cursor: pointer;
      background-color: lighten($primary-color, 20);
    }

    &--selected {
      background-color: lighten($primary-color, 30);
    }
  }
}